html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  
  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 320 * 10);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--al-fontFamilies-play);
  font-weight: var(--al-fontWeights-regular);
  background-color: var(--al-colors-black);
  color: var(--al-colors-white);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.al-container {
  width: 100%;
  max-width: 183rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}