html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  
  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 320 * 10);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--al-fontFamilies-play);
  font-weight: var(--al-fontWeights-regular);
  background-color: var(--al-colors-black);
  color: var(--al-colors-white);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.al-container {
  width: 100%;
  max-width: 183rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.al-close-btn {
  position: fixed;
  top: 5.9rem;
  right: 5rem;
  width: 6.7rem;
  height: 6.7rem;
  mix-blend-mode: difference;

  @include tablet-l {
    top: 3.3rem;
    right: 3.3rem;
    width: 3.4rem;
    height: 3.4rem;
  }

  @include tablet-s {
    top: 1.6rem;
    right: 1.6rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: var(--al-colors-white);

    path {
      stroke: var(--al-colors-white);
    }
  }
}