@mixin font-face($name, $weight, $src) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-display: swap;
    font-style: normal;
    src: url($src + ".woff2") format("woff2");
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin tablet-l {
  @media (max-width: 1024px) {
      @content;
  }
}

@mixin tablet-s {
  @media (max-width: 767px) {
      @content;
  }
}