@mixin tablet-l {
  @media (max-width: 1024px) {
      @content;
  }
}

@mixin tablet-s {
  @media (max-width: 768px) {
      @content;
  }
}

@mixin font-face($name, $weight, $src) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-display: swap;
    font-style: normal;
    src: url($src + ".woff2") format("woff2");
  }
}

// @include font-face("Inter", 700, "../fonts/Inter-Bold");