:root {
  --al-colors-white: #fff;
  --al-colors-black: #000;
  --al-colors-articul: #c31e54;

  --al-fontFamilies-drukCyr: 'drukwidecyr', sans-serif;
  --al-fontFamilies-play: 'Play', sans-serif;

  --al-fontWeights-regular: 400;
  --al-fontWeights-medium: 500;

  --al-fontSizes-title-h1-desktop: 16.8rem;
  --al-fontSizes-title-h1-tablet: 9rem;
  --al-fontSizes-title-h1-mobile: 3.6rem;
  --al-fontSizes-highlight-desktop: 2.2rem;
  --al-fontSizes-highlight-tablet: 1.6rem;
  --al-fontSizes-highlight-mobile: 1rem;

  --al-lineHeights-title-h1-desktop: 20.2rem;
  --al-lineHeights-title-h1-tablet: 10.8rem;
  --al-lineHeights-title-h1-mobile: 4.5rem;
  --al-lineHeights-highlight-desktop: 6.6rem;
  --al-lineHeights-highlight-tablet: 4.6rem;
  --al-lineHeights-highlight-mobile: 3.1rem;
}