.al-advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  writing-mode: vertical-lr;

  &__item {
    margin-right: 1.7rem;

    &:last-child {
      margin-right: 0;
    }

    &--first {
      transform: rotate3d(0, 0, -1, 35deg) translate(-5rem, -1.9rem);

      .al-advantages__highlight {
        transform: rotate(0);
        text-align: right;
      }
      
      @include tablet-s {
        transform: rotate3d(0, 0, -1, 35deg) translate(-2rem, -1rem);
      }
    }

    &--five {
      margin-right: 0;
    }

    @include tablet-l {
      margin-right: 1rem;
    }

    @include tablet-s {
      margin-right: 0.6rem;
    }
  }

  &__highlight {
    padding: 2.4rem 0;
    transform: rotate(-180deg);
    
    @include tablet-l {
      padding: 1.6rem 0;
    }

    @include tablet-s {
      padding: 1.1rem 0;
    }
  }
}