.al-career-arrow {
  min-height: 48.4rem;
  position: relative;

  @include tablet-l {
    min-height: 40rem;
    width: 100%;
    max-width: 45rem;
    justify-self: center;
  }

  @include tablet-s {
    min-height: 24rem;
  }

  &__item {
    position: absolute;

    &--top {
      top: 8rem;
      right: 8rem;
      transform: rotate(50deg);

      @include tablet-s {
        top: 4rem;
        right: 5rem;
      }
    }

    &--middle {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &--bottom {
      bottom: 9rem;
      right: 1rem;
      transform: rotate(-50deg);

      @include tablet-s {
        bottom: 6rem;
        right: 1rem;
      }
    }
  }
}